*{
    font-family:'Gotham', sans-serif;

}
.container{
    display: flex;
    flex-direction: column;
    align-items: center; /* Center all content horizontally */
    justify-content: flex-start; /* Align items from the top */

    width: 100%;
}
.groupMoviesContainer{

}
.homeScreen{
     position: relative;
    top:10px;
    right: 8px;
    width: 103%;
    background-attachment: fixed;
    background-color: #0b0b0b;
    overflow: hidden;
    min-height: 95.5vh;
}
.home{
    min-height: 99vh;
}



.white{
    color:white
}
.font{
    font-family:'Gotham', sans-serif;
}
.movieFlex{
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;

}


.moveMovie{
    padding-left: 49px;
}
.star{
    position: relative;
    right: 1px;
    top:2px;
    color: #FFD700;
}
.paddingLeft10px{
padding-left: 10px;
}
.textCenter{
    text-align: center;
    padding-right: 800px;
}
.movieItem {
    background-color: #36454f;
    border-radius: 10px;
    padding-bottom: 5px;
    border: 2px solid transparent; /* Start with transparent border */
    transition: transform 0.3s ease, border 0.3s ease; /* Smooth transition for both scale and border */
}

.movieItem:hover {
    transform: scale(1.05); /* Scale the item slightly on hover */
    border: 2px solid white; /* Change border color to white on hover */

}

.arrow{

    border: none;
    border-radius: 50%;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s, background-color 0.2s;

}
.arrowZ{
    z-index: 100;
}
.arrow:hover{
    cursor: pointer;
    background-color:#B22222 ;
    transform: scale(1.1);
}
.arrow:active {
    transform: scale(0.95);
}

.arrowRight{
    position: relative;
    right: 20px;

}
.arrowLeft{
    position: relative;
    left: 20px;

}

.posters {
    height: 300px;
    width: 200px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;

    overflow: hidden; /* Ensures no part of the image spills over */
    object-fit: cover; /* Ensures the image covers the div without stretching */
}
.posters:hover{
    cursor: pointer;
}

.title{
    white-space: nowrap;         /* Prevents the text from wrapping */
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 180px;
}

.cursor{
    cursor: pointer;
}

.invisable{
    visibility: hidden;;
}

.movieBottomPadding{
    padding-bottom: 60px;
}
.topPaddingHome{
    padding-top: 50px;
}
.checkmark{
    font-size: 20px;

}

.tabsHome:hover{
    color:#B22222;
    cursor: pointer;
}
.moveCenterPage{
  justify-content: center;
  padding-right: 530px;
}

.red{
    color:#B22222;
}
.smallPaddingRightRecent{
    padding-right: 815px;
}

.removeJustifyContent{
padding-right: 708px;
}
