.widthPoster{
    width: 200px;
}
.youtube {
  display: block;
  padding-left: 15px;
  padding-bottom: 6px;          /* Make sure the icon is block-level */
}

.detailButton .youtube {
  margin-bottom: -30px;         /* Move the icon closer to the text if needed */
}

.detailButton span {
  display: inline-block;
  margin-bottom: -5px;
  padding-left: 10px;           /* Move the text upwards */
}
.movieScreenWrapper{
  display: flex;
  justify-content: center;
  padding-right: 50px;
}
.movieDetailsPage{

    position: relative;
    top: 645px;

}
.movieItemDetails{
    background-color: #36454F;
    border-radius: 10px;


}
.movieOptions{
  padding-top: 100px;
}

.paddingTop{
    padding-top: 50px;
}
.detailButton {
    width: 200px;
    padding: 10px 20px;
    background-color: #708090; /* SlateGray color */
    color: #fff;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    transition: background-color 0.3s ease;

}

.detailButton:hover {
    background-color: #B22222;
    cursor: pointer;
}

.displayFlex.movieDetailButtons {
    display: flex;
    flex-direction: column;
    gap: 5px; /* Spacing between buttons */
    flex-wrap: wrap; /* Allows wrapping on smaller screens */
    justify-content: flex-start;
    padding-top: 15px; /* Padding at the top */
}
.detailsPoster{
    height: 300px;
    width: 200px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    overflow: hidden;
    object-fit: cover;

}
.movieDescription{
    word-break: break-word;
}

.movieDetailsTitle{
    font-size: xx-large;
    font-weight: bolder;
}

.movieInfo{
    position: relative;
    bottom: 550px;
    width: 500px;
}
.reviewsContainer{
    position: relative;
    right:11%;
    text-align: center;
}
.largePaddingBottom{
    padding-bottom: 20px;
}
.reviewRating{
    position: relative;
    top:20px;
    left: 5%;
}


.minHeightBackground{
    min-height: 98.7vh;
}


  .marginButton{
    margin-bottom: 84px;
  }
  .genres{
    height: 30px;
    min-width: 100px;
    padding: 0px 15px;
    text-align: center;
    padding-top: 15px;
    font-size: 15px;
    text-transform: uppercase;
    background-color: #36454F;
    border-radius: 20px;
  }

  .gap10px{
    gap: 20px;
  }
  .genresGroup{
    flex-wrap: wrap;
    padding-bottom: 20px;
  }
  .crew{
    padding-bottom: 10px;
  }

  .imgArtist {
    width: 120px;
    height: 120px; /* Same as width to make it a perfect circle */
    border-radius: 50%; /* This makes the image circular */
    object-fit: cover; /* Ensures the image maintains aspect ratio and fits the circle */

  }
  .artist{
    width: 120px;
  }
  .providers {
    border-radius: 15px; /* Smooth rounded corners */
    padding: 20px; /* Padding inside the container */
    border: 1px solid rgba(255, 255, 255, 0.2); /* Subtle white border with transparency */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.5); /* Soft shadow to lift the container */
    color: #fff; /* Text color white for contrast */
    backdrop-filter: blur(10px); /* Optional: adds a blurred effect for modern look */
    max-width: 100%; /* Ensures it doesn’t overflow horizontally */
    width: auto;
    margin: 20px 0;

  }

  .providerLogo {
    width: 70px;
    height: 70px; /* Same as width to make it a perfect circle */
    border-radius: 20px; /* This makes the image circular */
    object-fit: cover; /* Ensures the image maintains aspect ratio and fits the circle */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Add a subtle shadow for depth */
    transition: transform 0.3s ease, box-shadow 0.3s ease; /* Smooth transition on hover */
    border:1px white solid
  }

  .providerLogo:hover {
    transform: scale(1.05); /* Slight zoom effect on hover */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); /* Stronger shadow on hover */
  }
  .optionsBuy{
    padding-top: 10px;
    gap: 10px;
    padding-left: 8px;
  }
  .buy{
    height: 20px;
    min-width: 50px;
    padding: 0px 15px;
    text-align: center;
    padding-top: 5px;
    font-size: 15px;
    text-transform: uppercase;
    /* background-color: #36454F; */
    border-radius: 20px;
  }
  .buy:first-child {
    background-color: #28a745; /* Green for BUY */
    color: white; /* White text */
    border: 2px solid #218838; /* Darker green border */
}

.buy:first-child:hover {
    background-color: #218838; /* Darker green on hover */
    border-color: #1e7e34; /* Darker border on hover */
}

/* Style for the RENT button */
.buy:last-child {
  background-color: #007bff; /* Yellow for RENT */
    color: white; /* Black text */
    border: 2px solid #0056b3;/* Darker yellow border */
}

.buy:last-child:hover {
  background-color: #0056b3; /* Darker yellow on hover */
  border-color: #004085; /* Darker border on hover */
}
  .currProvider {
    display: flex;
    padding-bottom: 20px;
    align-items: center;
    gap: 5px;

  }

  .linkNames {
    font-weight: bold;
    color: #fff;
    font-size: 1rem;
    text-transform: capitalize;
    transition: color 0.3s ease;
    padding-left: 10px;
    padding-top: 6px;
    text-decoration: none;
  }

  .linkNames:hover {
    color: #B22222; /* Hover effect to change text color */
  }
  .noTextUnderline{
    text-decoration: none;
  }

  .noProviders {

    color: #fff;
    text-align: center;
    font-weight: bold;
    padding: 50px 0;
    border-radius: 10px;
    width: 350px;
    margin: 0 auto; /* Center the "No Providers" box */

    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Subtle shadow */
  }



  .fadedWhite{
    color : gray
  }
  .artistName{
    text-align: center;
  overflow-wrap: break-word;
  }

  .artistChar{
    display: -webkit-box;
    -webkit-line-clamp: 2; /* Number of lines you want to display */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  .center{
    text-align: center;
  }
  .paddTop{
    padding-top: 5px;
  }

  .arrowCrew{

    border: none;
    border-radius: 50%;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s, background-color 0.2s;
    height: 40px;
    width: 40px;
    margin-top: 40px;
}
.arrowCrew:hover{
    cursor: pointer;
    background-color:#B22222 ;
    transform: scale(1.1);
}
.arrowCrew:active {
    transform: scale(0.95);
}

.arrowRightCrew{
   position: relative;
   right: 40px;

}
.arrowLeftCrew{
    position: relative;
   left: 40px;
}

.moveCast{
    position: relative;
    right: 60px;
}

.underTitle{
  color:#B0B0B0
}
.paddingBottomLarge{
  padding-bottom: 200px;
}

.reviewBorder{
  border-top: 1px solid #708090;
  position: relative;
  top: 20px;
}
