.widthPoster{
    width: 200px;
}
.movieDetailsPage{
    display: flex;
    justify-content: center;
}
.movieItemDetails{
    background-color: #36454F;
    border-radius: 10px;
}
.movieOptions{
    position: relative;
    top: 100px;
    left: 25%;
}

.paddingTop{
    padding-top: 50px;
}
.detailButton {
    width: 200px;
    padding: 10px 20px;
    background-color: #708090; /* SlateGray color */
    color: #fff;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: background-color 0.3s ease;

}

.detailButton:hover {
    background-color: #B22222; /* FireBrick red color on hover */
    cursor: pointer;
}

.displayFlex.movieDetailButtons {
    display: flex;
    flex-direction: column;
    gap: 5px; /* Spacing between buttons */
    flex-wrap: wrap; /* Allows wrapping on smaller screens */
    justify-content: flex-start;
    padding-top: 15px; /* Padding at the top */
}
.detailsPoster{
    height: 300px;
    width: 200px;
    border-radius: 8px;
    overflow: hidden;
    object-fit: cover;
}
.movieDescription{
    word-break: break-word;
}

.movieDetailsTitle{
    font-size: xx-large;
    font-weight: bolder;
}

.movieInfo{
    position: relative;
    bottom: 480px;
    width: 500px
}
.reviewsContainer{
    position: relative;
    right:11%;
    text-align: center;
}
.largePaddingBottom{
    padding-bottom: 255px;
}
.reviewRating{
    position: relative;
    top:20px;
    left: 5%;
}
.nonUserDetail{
    position: relative;
    top:115px
}
.minHeightBackground{
    min-height: 98.7vh;
}
.noUserButtons {
    height: 124.6px;
  }

  .noUserPadding {
    height: 0;
    padding-top: 20px;
  }
  .marginButton{
    margin-bottom: 84px;
  }
