.widthPoster{
    width: 200px;
}
.movieDetailsPage{
    display: flex;
    justify-content: center;
}
.movieItemDetails{
    background-color: #36454F;
    border-radius: 10px;
}
.movieOptions{
    position: relative;
    top: 100px;
    left: 25%;
}

.paddingTop{
    padding-top: 50px;
}
.detailButton {
    width: 200px;
    padding: 10px 20px;
    background-color: #708090; /* SlateGray color */
    color: #fff;
    border-radius: 5px;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    transition: background-color 0.3s ease;

}

.detailButton:hover {
    background-color: #B22222; /* FireBrick red color on hover */
    cursor: pointer;
}

.displayFlex.movieDetailButtons {
    display: flex;
    flex-direction: column;
    gap: 5px; /* Spacing between buttons */
    flex-wrap: wrap; /* Allows wrapping on smaller screens */
    justify-content: flex-start;
    padding-top: 15px; /* Padding at the top */
}
.detailsPoster{
    height: 300px;
    width: 200px;
    border-radius: 8px;
    overflow: hidden;
    object-fit: cover;
}
.movieDescription{
    word-break: break-word;
}

.movieDetailsTitle{
    font-size: xx-large;
    font-weight: bolder;
}

.movieInfo{
    position: relative;
    bottom: 480px;
    width: 500px
}
.reviewsContainer{
    position: relative;
    right:11%;
    text-align: center;
}
.largePaddingBottom{
    padding-bottom: 255px;
}
.reviewRating{
    position: relative;
    top:20px;
    left: 5%;
}
.nonUserDetail{
    position: relative;
    top:115px
}
.minHeightBackground{
    min-height: 98.7vh;
}
.noUserButtons {
    height: 124.6px;
  }

  .noUserPadding {
    height: 0;
    padding-top: 20px;
  }
  .marginButton{
    margin-bottom: 84px;
  }
  .genres{
    height: 30px;
    min-width: 100px;
    padding: 0px 15px;
    text-align: center;
    padding-top: 15px;
    font-size: 15px;
    text-transform: uppercase;
    background-color: #36454F;
    border-radius: 20px;
  }

  .gap10px{
    gap: 20px;
  }
  .genresGroup{
    padding-bottom: 100px;
  }

  .imgArtist {
    width: 120px; /* Adjust size as needed */
    height: 120px; /* Same as width to make it a perfect circle */
    border-radius: 50%; /* This makes the image circular */
    object-fit: cover; /* Ensures the image maintains aspect ratio and fits the circle */

    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Optional: Add a subtle shadow */
  }
  .artist{
    width: 120px;
  }

  .fadedWhite{
    color : gray
  }
  .artistName{
    text-align: center;
    overflow-wrap: break-word;
  }
  .center{
    text-align: center;
  }
  .paddTop{
    padding-top: 5px;
  }

  .arrowCrew{

    border: none;
    border-radius: 50%;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.2s, background-color 0.2s;
    height: 40px;
    width: 40px;
    margin-top: 40px;
}
.arrowCrew:hover{
    cursor: pointer;
    background-color:#B22222 ;
    transform: scale(1.1);
}
.arrowCrew:active {
    transform: scale(0.95);
}

.arrowRightCrew{
   position: relative;
   right: 40px;

}
.arrowLeftCrew{
    position: relative;
   left: 40px;
}

.moveCast{
    position: relative;
    right: 60px;
}
