.customCreateh2 {

    color: white;
    padding-bottom: 50px;
    margin-left: 25%;
  }

  .formSize{
    position: relative;
    bottom: 20px;
    width: 50%;
    margin-left: 25%;
    padding-bottom: 100px;
  }

  .create-custom-form {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .form-group {
    display: flex;
    flex-direction: column;
  }

  .form-group label {
    font-size: 16px;
    color: white;
    margin-bottom: 8px;
  }

  .form-group input,
  .form-group textarea {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccddee;
    border-radius: 5px;
    outline: none;
    transition: all 0.3s ease;
  }

  .form-group input:focus,
  .form-group textarea:focus {
    border-color: #ccddee;
    box-shadow: 0 0 5px rgba(76, 175, 80, 0.5);
  }

  .form-group textarea {
    resize: vertical;
  }

  .submit-btn {

    padding: 12px 20px;
    background-color: #B22222;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  .submit-btn:hover {
    background-color: #8B1A1A;
  }
  .paddingBottom{
    padding-bottom: 100px;
  }
  .paddingBottomSmall{
    padding-bottom: 10px;

  }

  .form-group input[type="file"] {
    display: none;
  }

  .imageLabel{
    border: 1px solid #708090;
    text-align: center;
    background-color: #708090;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 14px;
    font-weight: 500;
    transition: background-color 0.3s ease;
  }

  .imageLabel:hover{
    cursor: pointer;
    background-color: #2F4F4F;
  }

  .pendImage{
    display: flex;
    justify-content: center;

  }
