.paddingBottom{
    padding-bottom: 20px;
}

.smallPaddingBottom{
    padding-bottom: 60px;
}
.moveRight{
    padding-left: 100px;
}

.noCursor:hover{
    cursor: default;
}

.moveDown{
    position: relative;
    top: 10px;

}
.moveUp{
    position: relative;
    bottom: 18px;
}

.date{
    font-size: 16px
}

.gray{
    color: #A4A4A4;
}


.customDes{
    max-height: 190px;
    height: auto;

}

.searchGenre{
    position: relative;
    left: 0px;
    top: 0px;
    width: 100%;
}

.itemsGenres{
    color: white;
    font-size: 18px;
    font-weight: bold;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7);
    opacity: 0; /* Initially hidden */
    text-align: center;
    transition: opacity 0.3s ease;
    visibility: hidden;
}

.genreText{
    position: relative;
    left: 10px;
}
.genresDiv{
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}
.genresDiv:hover{
    transform: scale(1.05); /* Slightly enlarge on hover */
    box-shadow: 0 6px 30px rgba(0, 0, 0, 0.2);
}

.genresDiv:hover .itemsGenres{
    opacity: 1;
    text-align: center;
    position: fixed;
    right: 42%;
    top: 26%;
    visibility: visible;
    transition: opacity 0.8s ease;
}
.genresDiv:hover .genreText{
    opacity: 0;
    transition: opacity 0.8s ease;
    visibility: hidden;
}
.genresDiv .genreText {
    opacity: 1;
    transition: opacity 0.5s ease-in; /* Fade-in when not hovered */
    visibility: visible;
}

.noCustoms{
    display: flex;
    justify-content: center;
    position: relative;
    right: 80px;
}

.conatinerMyMovies{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    left: 3.5%;


}
.customMovieTitles{
    display: flex;
    justify-content: space-around; /* Center horizontally */
    align-items: center; /* Align vertically if needed */
    width: 100%;
    position: relative;
    left: 1%;
    padding-bottom: 20px;

}
