.collectionWhole{
    padding-top: 80px;
}
.descriptionDetails{
    color:#B0B0B0;
    font-size: 18px;
    min-width: 800px;
    max-width: 800px;
    height:120px;
    word-wrap: break-word;
    overflow: hidden;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #fff #f0f0f0;

}
.collectionDetailsInfo{
    justify-content: center;
    padding-bottom: 50px;
    max-height: 165px;
}
.colDetailsPaddingRight{
    padding-right: 90px;
}
.titleCol{
    font-size: 30px;
    padding-bottom: 30px;
}
.colButtons{
  flex-direction: column;
  gap: 10px;
  padding-bottom: 50px;
}
.buttonCol{
    width: 200px;
    padding: 10px 20px;
    background-color: #708090;
    color: #fff;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    transition: background-color 0.3s ease;
}

.buttonCol:hover {
    background-color: #B22222;
    cursor: pointer;
}

.colMovies{
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    padding-bottom: 100px;
    max-width: 1100px;
    margin: 0 auto;
}

  .movie-itemCol{
    position: relative;
    overflow: hidden;
    border-radius: 12px; /* Rounded corners */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1); /* Light shadow for depth */

    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer; /* Pointer cursor on hover */

  }

  .movie-itemCol:hover {
    transform: scale(1.05); /* Slightly enlarge on hover */
    box-shadow: 0 6px 30px rgba(0, 0, 0, 0.2); /* Darker shadow on hover */
  }

  .movie-itemCol::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.3);
    opacity: 0;
    transition: opacity 0.3s ease;
    border-radius: 12px;
  }

  .movie-itemCol:hover::after {
    opacity: 1;
  }

  .movie-itemCol .movie-title {
    position: absolute;
    bottom: 150px;
    left: 10px;
    right: 20px;
    min-width: 150px;
    word-wrap: break-word;
    text-overflow: ellipsis;
    text-align: center;
  }

  .movie-itemCol .items{
    color: white;
    font-size: 18px;
    font-weight: bold;
    text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.7);
    opacity: 0; /* Initially hidden */
    text-align: center;

  }

  .movie-itemCol .trashCol{
    position: absolute;
    z-index: 3;
    bottom: 10px;
    left: 90px;
  }
  .movie-itemCol .trashCol:hover{
   color: red;
  }


  /* Show the title when hovering */
  .movie-itemCol:hover .items {
    opacity: 1; /* Title fades in on hover */
  }


  .noMoviesColDetails{
    border: 1px solid white;
    width: 600px;
    height: 300px;
  }

  .noMoviesColDetailsButton{
    position: relative;
    left: 250px;
    top: 150px;
    max-width: 85px;

  }

  .noMoviesColDetailsButton:hover{
    color: #B22222;
  }
