.watchlistGrid{
    display: grid;
    grid-template-columns: repeat(5, auto); /* Each item fits around its content */
    column-gap: 20px;
    row-gap: 20px; /* Adjust spacing between each item */
    justify-content: center;
}

.eye{
    padding-top: 2px;
}
.eye:hover{
    color:#00FF00
}
.trash{
    font-size: small;
    padding-top: 2px;
}
.trash:hover{
    color:red
}
.numWatchlist{
    position: relative;
    left: 1%;
}
.watched{
    position: relative;
    right: 20px;
}

.redHover:hover{
    color:#B22222
}
