.reviewsBorder{
    border: 1px white solid;
    font-weight: bold;
    width: 500px;
    height: 100px;
    padding-top: 100px;
    text-align: center;
    position: relative;
    left: 22%;
}

.reviewMovieItem{
    width: 200px;
    border-radius: 10px;
    background-color: #36454f;
    transition: transform 0.2s;
    min-height: 325px;
    max-height: 325px;
     border: 2px solid transparent; /* Start with transparent border */
    transition: transform 0.3s ease, border 0.3s ease;

}

.reviewMovieItem:hover{
    border: 2px solid white;
}

.reviewMovieItem:hover {
    transform: scale(1.05);
}

.currentReview{
    margin-bottom: 80px;
    width: 65%;
    height: 325px;
    min-height: 325px;
    max-height: 325px;

}

.reviewsCenter{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-left: 100px;

}
.padding50pxBottom{
    padding-bottom: 50px;
}

.reviewInfo{
    padding-left: 30px;
    overflow-y: auto;
    position: relative;
}

.wordBreak{
    word-break: break-word;
}

.reviewReview{
    max-height:215px;

    overflow-y: auto;
    white-space: normal;
    padding-right: 10px;
    scrollbar-color: white #f1f1f1;
    scrollbar-width: thin;
}


.reviewPadding{
    padding-top: 100px;
}
.noListStyleType{
    list-style-type: none;
}
.editReview{
    padding-top: 1px;
}
.editReview:hover{
    color: #00FF00;
}
