
.mouseOver {
    cursor: pointer;
}
.rightPageBorder {
    margin-right: 50px;
  }
.xx-largeFont {
    font-size: xx-large;
  }
.noPadding {
    padding: 0px;
  }
.whiteFont {
    color: #F8F9FA;
  }
  .noBackground {
    background: transparent;
  }
  .noBorder {
    border: none;
  }
  .lightGrey {
    background-color: #6C757D;
  }
  .removeDecorations {
    list-style-type: none;
  }

  .largeRightPadding {
    padding-right: 35px;
  }
  .littleTopPadding {
    padding-top: 5px;
  }
  .littleBottomPadding {
    padding-bottom: 5px;
  }
  .littleRightPadding{
    padding-right: 5px;
  }

  .whiteBackground{
    background-color: white;
  }
 .border{
    position: absolute;
    top: 0;
    left: -2px;
    width: 102.78%;
    z-index: 1;
 }
 @media screen and (min-width: 1690px) {
  .border{
    width: 103.2%;
  }
}

 .zIndex{
    z-index: 3;
 }

 .spaceAround{
    justify-content: space-around;
    align-items: center;
 }
 .bold{
    font-weight: bold;
 }
 .alignBottom {
    align-items: flex-end;

  }
  .smallLogo {
    position: relative;
    right: 6%;
    height: 50px;

  }
  .leftPageBorder {
    margin-left: 50px;
  }
  .smallFont {
    font-size: small;
  }
  .fontLight {
    font-family: "Varela Round", sans-serif;
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
  }

  .fontLight:hover {
    font-family: "Varela Round", sans-serif;
    font-weight: 600;
    font-style: normal;
    color: #B22222;
    text-decoration: underline;
    cursor: pointer;
  }

  .footer{
    position: absolute;
    bottom: 0;
    width: 100%;

  }
.github:hover{
  text-decoration:none;
}

.smallRightPadding{
  padding-right: 20px;
}

.gitMove{
  position: relative;
  right: 50px;
}
